<%- include("partials/header"); -%>
        <!-- <h1>About</h1> -->
        <!-- <p> <%= aboutContent %> </p> -->
        <div>
            <section class="about-us">
                <div class="container">
                    <h2 style="text-align: center;">About Us</h2>
                    <p style="text-align: center;">Here at Daily Blog, we are passionate about providing our readers with the latest news and
                        insights on a wide range of topics. Whether you're interested in technology, politics, or
                        entertainment, we have something for everyone.</p>
                    <p style="text-align: center;">Our team of experienced writers and editors work tirelessly to deliver engaging and informative
                        content that you won't find anywhere else. We pride ourselves on our commitment to quality and
                        accuracy, and we always strive to provide our readers with the most up-to-date information
                        available.</p>
                    <p style="text-align: center;">Thank you for choosing Daily Blog as your go-to source for news and information. We hope you
                        enjoy reading our articles as much as we enjoy writing them!</p>
                </div>
            </section>

        </div>
        <%- include("partials/footer"); -%>
